.row {
    margin-bottom: 5px;
    resize: none;
}

.button {
    background-color: #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 100%;
    font-family: Arial;
    font-weight: bold;
    padding: 30px 30px;
    resize: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
}
.showFont{
    color: red;
}
.buttonpackpos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    resize: none;   
    overflow: hidden;
}

.button:hover {
    background-color: rgb(80, 79, 79);
    color: rgb(80, 79, 79);
}
.newhover:hover{
    color: red;
}

body, ::backdrop {
    background: #fff;
}
#fullscreen-button {
    position: absolute;
    top:  15px;
    right:  15px;
    background: rgba(0,0,0,0.05);
    border:  0;
    width:  40px;
    height:  40px;
    border-radius: 50%;
    box-sizing: border-box;
    transition:  transform .3s;
    cursor:  pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#fullscreen-button:hover {
    transform: scale(1.125);
}
#fullscreen-button svg:nth-child(2) { 
    display: none;
}
[fullscreen] #fullscreen-button svg:nth-child(1) {
    display: none;
}
[fullscreen] #fullscreen-button svg:nth-child(2) {
    display: inline-block;
}

